<button (click)="initNewHero()">Create New Hero</button>

<table>
  <thead>
    <th>Name</th>
    <th>First name</th>
    <th>Last name</th>
    <th>Place</th>
    <th>Actions</th>
  </thead>
  <tbody>
    <tr *ngFor="let hero of heroes">
      <td>{{hero.name}}</td>
      <td>{{hero.firstName}}</td>
      <td>{{hero.lastName}}</td>
      <td>{{hero.place}}</td>
      <td><button (click)="editHero(hero)">Edit</button></td>
    </tr>
</table>

<app-edit-hero 
  [hero]="selectedHero" 
  (heroesUpdated)="updateHeroList($event)">
</app-edit-hero>